// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');


// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';


@import "~@fortawesome/fontawesome-free/scss/fontawesome";
@import "~@fortawesome/fontawesome-free/scss/regular";
@import "~@fortawesome/fontawesome-free/scss/solid";
@import "~@fortawesome/fontawesome-free/scss/brands";

:root {
    --theme : #42b883;
    --bs-blue: #0d6efd;
    --bs-indigo: #6610f2;
    --bs-purple: #6f42c1;
    --bs-pink: #d63384;
    --bs-red: #dc3545;
    --bs-orange: #fd7e14;
    --bs-yellow: #ffc107;
    --bs-green: #198754;
    --bs-teal: #20c997;
    --bs-cyan: #0dcaf0;
    --bs-black: #000;
    --bs-white: #fff;
    --bs-gray: #6c757d;
    --bs-gray-dark: #343a40;
    --bs-gray-100: #f8f9fa;
    --bs-gray-200: #e9ecef;
    --bs-gray-300: #dee2e6;
    --bs-gray-400: #ced4da;
    --bs-gray-500: #adb5bd;
    --bs-gray-600: #6c757d;
    --bs-gray-700: #495057;
    --bs-gray-800: #343a40;
    --bs-gray-900: #212529;
    --bs-primary: #0d6efd;
    --bs-secondary: #6c757d;
    --bs-success: #198754;
    --bs-info: #0dcaf0;
    --bs-warning: #ffc107;
    --bs-danger: #dc3545;
    --bs-light: #f8f9fa;
    --bs-dark: #212529;
    --bs-primary-rgb: 13, 110, 253;
    --bs-secondary-rgb: 108, 117, 125;
    --bs-success-rgb: 25, 135, 84;
    --bs-info-rgb: 13, 202, 240;
    --bs-warning-rgb: 255, 193, 7;
    --bs-danger-rgb: 220, 53, 69;
    --bs-light-rgb: 248, 249, 250;
    --bs-dark-rgb: 33, 37, 41;
    --bs-white-rgb: 255, 255, 255;
    --bs-black-rgb: 0, 0, 0;
    --bs-body-color-rgb: 33, 37, 41;
    --bs-body-bg-rgb: 248, 250, 252;
    --bs-font-sans-serif: "Source Sans Pro", sans-serif;
    --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    --bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
    --bs-body-font-family: "Verdana",sans-serif;
    --bs-body-font-size: 15px;
    --bs-body-font-weight: 400;
    --bs-body-line-height: 1.6;
    --bs-body-color: #212529;
    --bs-body-bg: #f8fafc;
    --bs-border-width: 1px;
    --bs-border-style: solid;
    --bs-border-color: #dee2e6;
    --bs-border-color-translucent: rgba(0, 0, 0, 0.175);
    --bs-border-radius: 0.375rem;
    --bs-border-radius-sm: 0.25rem;
    --bs-border-radius-lg: 0.5rem;
    --bs-border-radius-xl: 1rem;
    --bs-border-radius-2xl: 2rem;
    --bs-border-radius-pill: 50rem;
    --bs-link-color: #0d6efd;
    --bs-link-hover-color: #0a58ca;
    --bs-code-color: #d63384;
    --bs-highlight-bg: #fff3cd;
  }

  body {
    margin: 0;
    font-family: var(--bs-body-font-family);
    font-size: var(--bs-body-font-size);
    font-weight: var(--bs-body-font-weight);
    line-height: var(--bs-body-line-height);
    color: var(--bs-body-color);
    text-align: var(--bs-body-text-align);
    background-color: #ffff;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

  }

  .jt-1 {
    --bs-bg-opacity: 1;
    background-color:var(--theme) !important;
    font-size: 9px;
  }

  .jt-4 {
      --bs-bg-opacity: 1;
      background-color:var(--theme) !important;
      font-size: 9px;
  }

  .jt-3 {
      --bs-bg-opacity: 1;
      background-color:rgb(0 40 255);
      font-size: 9px;
  }

  .jt-2 {
      --bs-bg-opacity: 1;
      background-color: rgb(130 0 255);
      font-size: 9px;
  }

  .dropdown-notif {
    position: absolute !important;
  }

  .fa-solid {
      color : var(--theme);
  }

  .fa-solid-header {
    color : whitesmoke;
  }

  .actionbtn {
      font-size: 9px;
  }


  .btn-theme {
    background-color: var(--theme) !important;
    color :#ffff;
  }

  a {
    text-decoration: none;
  }


  .navbar-toggler {
    padding: var(--bs-navbar-toggler-padding-y) var(--bs-navbar-toggler-padding-x);
    font-size: var(--bs-navbar-toggler-font-size);
    line-height: 1;
    color: var(--theme);
    background-color: transparent;
    border: var(--bs-border-width) solid var(--bs-navbar-toggler-border-color);
    border-radius: var(--bs-navbar-toggler-border-radius);
    transition: var(--bs-navbar-toggler-transition);
  }

  .nav-header-theme{
    border-bottom:2px solid var(--theme) !important;
  }

  .fixed-top-nav{
		position: relative;
		top: 0;
		right: 0;
		left: 0;
   	z-index: 1030;
	}



  .flat-input {
    box-shadow: none;
    display: block;
    width: 100%;
    border: none;
    border-bottom: 1px solid #bfbfbf;
    box-sizing: border-box;
    font-weight: 10;
    font-size: 0.95rem;
    transition: .3s ease;
    -moz-transition: .3s ease;
    -webkit-transition: .3s ease;
    -o-transition: .3s ease;
    -ms-transition: .3s ease;
    padding-top: 5px;
    padding-bottom: 5px;
    -webkit-appearance: none;
    background: 0 0;
}

  .flat-input:focus ,.search-form-input:focus  {
    border-color: var(--theme) !important;
    outline: none;
  }
  
  .vertical-center {
      display: flex;
      align-items: center;
      min-height: 100vh;
  }

  .vue-universal-modal {
    /* Change dimmed color */
    background-color: rgba(255, 255, 0, 0.3);
  }
  .vue-universal-modal-content {
    /* Align to top (flex-direction property value is set to column) */
    justify-content: flex-start;
  }

  .star-rating {
    line-height:32px;
    font-size:1.25em;
  }
  
  .star-rating .fa-star{color: #f5b057;}
  .hide {
    display: none;
  }

  .search-form-input {
    box-shadow: none;
    display: block;
    width: 100%;
    border-radius: 11px;
    box-sizing: border-box;
    font-weight: 10;
    font-size: 0.95rem;
    transition: .3s ease;
    -moz-transition: .3s ease;
    -webkit-transition: .3s ease;
    -o-transition: .3s ease;
    -ms-transition: .3s ease;
    padding-top: 5px;
    padding-bottom: 5px;
    -webkit-appearance: none;
    background: 0 0;
  }


  .apply_btn { 
    width: 200px;
  }


    .pagination-page-nav.active > a {
      background-color: var(--theme) !important;
    }

    .pagination {
        --bs-pagination-font-size: 10px !important;
        --bs-pagination-hover-border-color : #ffff !important;
        float: right;
        color:white;
        --bs-pagination-color:var(--theme) !important;
        --bs-pagination-hover-color:var(--theme) !important;
        --bs-pagination-active-bg:var(--theme) !important;
        --bs-pagination-active-border-color:var(--theme) !important;
    }

    .p_textarea {
        white-space:pre-line;
    }
    .update-profile {
      font-size: 20px;
      position: absolute;
      visibility: hidden;
      color: var(--theme);
      top:40%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      text-align: center;
      transition: opacity .2s, visibility .2s;
    }

    .update-profile {
    cursor: pointer;
    }

    .profile-container:hover .update-profile {
    visibility: visible;
    }

    .profile-container:hover > .profImg {
      opacity:  0.3;
    }

    #file-image {
      visibility: hidden;
      position: relative !important;
    }

    .btn-theme:hover {
      color :white;
    }

    .btn-dashboard {
      font-size: 14px;
      color:white;
    }

  /* Extra small devices (phones, 600px and down) */
  @media only screen and (max-width: 600px) {
    .homepage-image{
      display: none;
    }

    .vh-100 {
        height: min-content;
    }

    .search-container{
      width: 100% !important;
    }
		
  }

  /* Small devices (portrait tablets and large phones, 600px and up) */
  @media only screen and (min-width: 600px) {
    .search-container{
      width: 100% !important;
    }
  }

  /* Medium devices (landscape tablets, 768px and up) */
  @media only screen and (min-width: 768px) {

    .search-container{
      width: 25% !important;
    }
  
  }

  /* Large devices (laptops/desktops, 992px and up) */
  @media only screen and (min-width: 992px) {
    .search-container{
      width: 25% !important;
    }
  }

  /* Extra large devices (large laptops and desktops, 1200px and up) */
  @media only screen and (min-width: 1200px) {
    .search-container{
      width: 40% !important;
    }
  }



